
// 清除浮动
@mixin utils-clearfix {
    $selector: &;

    @at-root {
        #{$selector}::before,
        #{$selector}::after {
            content: '';
            display: table;
        }

        #{$selector}::after {
            clear: both;
        }
    }
}

// 垂直居中
@mixin utils-vertical-center {
    $selector: &;

    @at-root {
        #{$selector}::after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

// 文本省略号
@mixin utils-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 内联居中
@mixin utils-inline-flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
